---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  # FORMULA: <plural>.<group>
  name: noderefreshes.stable.rk.ai
spec:
  group: stable.rk.ai
  versions:
    - name: v1
      served: true
      storage: true
      subresources:
        status: {} # Enables the /status subresource for the operator to update
      schema:
        openAPIV3Schema:
          type: object
          properties:
            spec:
              type: object
              required: ["targetNodeLabels", "maxPodsToMoveAtOnce"]
              properties:
                targetNodeLabels:
                  type: object
                  additionalProperties:
                    type: string
                refreshInterval:
                  type: string
                  default: "3m"
                maxConcurrentRefreshes:
                  type: integer
                  minimum: 1
                  default: 1
                maxPodsToMoveAtOnce:
                  type: integer
                  minimum: 1
                  default: 2
                refreshSchedule:
                  type: string
                minHealthThreshold:
                  type: integer
                  minimum: 0
                  maximum: 100
                  default: 90
            status:
              type: object
              properties:
                phase:
                  type: string
                totalNodes:
                  type: integer
                nodesRefreshed:
                  type: integer
                currentNodes:
                  type: array
                  items:
                    type: string
                conditions:
                  type: array
                  items:
                    type: object
                    properties:
                      type: {type: string}
                      status: {type: string}
                      reason: {type: string}
                      message: {type: string}
  scope: Cluster
  names:
    plural: noderefreshes
    singular: noderefresh
    kind: NodeRefresh
    shortNames:
      - nr